@layer components {
	.btn {
		@apply inline-flex 
		items-center 
		justify-center 
		cursor-pointer
    lg:h-[60px] 
		px-8 
		py-[18px] 
		text-xl 
		lg:text-lg 
		text-center 
		!leading-none 
		font-semibold 
		no-underline 
		select-none 
		border 
		border-solid
		rounded-[15px] 
		transition 
		ease-in-out 
		duration-500 
		focus:outline-none 
		focus:ring 
		focus:ring-offset-1 
		focus:ring-opacity-50 
		disabled:opacity-75 
		disabled:cursor-not-allowed;
	}

	.btn-primary {
		@apply bg-secondary-100 
    text-white 
    border-secondary-100 
    hover:bg-transparent
    hover:text-secondary-100 
    hover:border-secondary-100
    focus:bg-secondary-100/75
    focus:text-white 
    focus:border-secondary-100/75
    focus:ring-secondary-100/75
    active:bg-secondary-100/50 
    active:border-secondary-100/50
    pr-[73px]
    relative
    before:absolute
    before:content-['\e901']
    before:font-icomoon
    before:bg-ss-light-green-200/[0.39]
    before:flex
    before:items-center
    before:justify-center
    before:rounded-full
    before:size-[30px]
    before:font-normal
    before:text-sm
    before:right-8;
	}

	.btn-secondary {
		@apply bg-secondary-100 
    text-white 
    border-secondary-100 
    hover:bg-transparent
    hover:text-secondary-100 
    hover:border-secondary-100
    focus:bg-secondary-100/75
    focus:text-white 
    focus:border-secondary-100/75
    focus:ring-secondary-100/75
    active:bg-secondary-100/50 
    active:border-secondary-100/50;
	}

	.btn-block {
		@apply block w-full;
	}
}

.btn-small-icon::before {
	@apply w-[20px] h-[20px];
}
